<div class="dashboard-wrapper">
  <div class="bg-orb orb1"></div>
  <div class="bg-orb orb2"></div>
  <div class="bg-grid"></div>

  <nav class="navbar">
    <div class="nav-brand">

  <img
    src="assets/images/cloudscanner-logo-notext.png"
    alt="CloudScanner"
    class="nav-brand-logo"
  />

  <!-- <div class="logo-circle">
    ✈
  </div> -->

  <span>Cloud<b>Scanner</b></span>

</div>

    <div class="nav-links">
      <a routerLink="/home">Home</a>
      <a routerLink="/profile">My Profile</a>
      <a routerLink="/trips">My Trips</a>
      <button type="button" (click)="logout()">Logout</button>
    </div>
  </nav>

  <main class="dashboard-card">
    <p class="top-badge">Completed Travel</p>
    <h1>Completed Trips</h1>

    <div class="trip-grid">

  <!-- <div class="trip-card completed-card" *ngFor="let trip of trips">

    <span class="trip-status completed">
      Completed
    </span>

    <h3>
      ✈ {{ trip.flightName }}
    </h3>

    <p class="route">
      {{ trip.origin }} → {{ trip.destination }}
    </p>

    <div class="trip-meta">

      <span>
        🗓 {{ trip.travelDate }}
      </span>

      <span>
        ₹{{ trip.price }}
      </span>

    </div>

    <div class="trip-divider"></div>

    <div class="trip-footer success">
      Journey Completed
    </div>

  </div> -->

  <div class="trip-card completed-card" *ngFor="let trip of trips">

    <div class="ticket-glow"></div>

    <div class="card-header">

      <span class="trip-status completed">
        Completed
      </span>

      <div class="id-section">
        <div>Booking #{{ trip.bookingId }}</div>
        <div>Flight #{{ trip.flightId }}</div>
      </div>

    </div>

    <div class="airline-row">

      <div class="plane-icon">✈</div>

      <div>
        <h3>{{ trip.flightName }}</h3>

        <p class="route">
          {{ trip.origin }} → {{ trip.destination }}
        </p>
      </div>

    </div>

    <div class="ticket-line"></div>

    <div class="info-grid">

      <div class="info-box">
        <span>Journey Date</span>
        <strong>{{ trip.journeyDate }}</strong>
      </div>

      <div class="info-box">
        <span>Fare Paid</span>
        <strong>₹{{ trip.fare }}</strong>
      </div>

      <div class="info-box">
        <span>Class</span>
        <strong>{{ trip.travelClass }}</strong>
      </div>

      <div class="info-box">
        <span>Seats</span>
        <strong>{{ trip.noOfSeatsBooked }}</strong>
      </div>

    </div>

    <div class="ticket-footer completed-footer">

      <span class="completed-dot"></span>

      <span>Journey Successfully Completed</span>

    </div>

  </div>

</div>

    <button class="secondary-btn" routerLink="/trips">Back to Trips</button>
  </main>
</div>